﻿<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>SIP клиент</title>
</head>
<body ng-controller="main">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Простой SIP клиент</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" ng-click="update()">Обновить</a></li>
                    <li><a href="#" ng-click="editUsers()">Пользователи</a></li>
                    <li><a href="#" ng-click="logs.length=0;">Очистить</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Абонент" ng-model="phone" aria-describedby="sizing-addon1">
                    <span class="input-group-btn">                        
                        <button class="btn btn-default" type="button" ng-click="call(phone)">Звонок</button>
                    </span>                                        
                </div>       

                <hr />

                <div ng-repeat="log in logs track by log.id">
                    <span class="label label-info">{{log.date | date:"dd.MM.yyyy HH:mm:ss"}}</span>
                    <span>{{log.message}}</span>
                    <hr style="margin-top:5px;margin-bottom:5px" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="user in users">
                    <a href="#" ng-click="$parent.phone=user.Phone">
                        <span>{{user.Phone}}</span>
                        <span>{{user.Name}}</span>                        
                    </a>                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>

    <link href="ui/ui.css" rel="stylesheet" />
    <script src="ui/lib.min.js"></script>    
    <!--<script src="signalr/hubs"></script>-->
    <script src="ui/ui.js"></script>
    <script src="ui/templates.min.js"></script>
</body>
</html>