﻿<div class="modal-header">
    <h3 class="modal-title">Входящий звонок</h3>
</div>
<div class="modal-body">
	<h1>Вызывает {{details.caller}} ({{details.id}})</h1>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="accept()">Принять</button>
    <button class="btn btn-danger" type="button" ng-click="close()">Отклонить</button>
</div>