﻿<div class="modal-header">
    <h3 class="modal-title">Редактор пользователей</h3>
</div>
<div class="modal-body">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Телефон</th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.Name}}</td>
                <td>{{user.Phone}}</td>                
                <td>
                    <!--<button class="btn btn-default btn-xs" ng-click="saveUser(user)">Изменить</button>-->
                    <button class="btn btn-default btn-xs" ng-click="deleteUser(user)">Удалить</button>
                </td>
            </tr>
            <tr>
                <td><input class="form-control" ng-model="newName" placeholder="Имя" /></td>
                <td><input class="form-control" ng-model="newPhone" placeholder="Телефон" /></td>
                <td><button class="btn btn-default" ng-click="addUser(newName,newPhone);newName=undefined;newPhone=undefined;">Добавить пользователя</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-cancel" type="button" ng-click="cancel()">Закрыть</button>
</div>